/* Googlee Fonts */
body {
	font-family: 'Open Sans', sans-serif;
}

/* CSS Reset */
* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

nav {
/*	padding-top: 0.8rem;
	padding-right: 0.8rem;
	padding-bottom: 0.8rem;
	padding-left: 0.8rem;*/
	/* shorthand property */
	padding: 0.8rem;

	/* creates space between the nav and intro section */
	margin-bottom: 2rem;
	border-bottom: 1px solid gray;
	list-style-type: none;
}


/* margin vs padding */
/* margin is best used when creating space between elements */
/* padding is best used when creating space between an element's border and it's content */

nav .nav, nav .nav-logo {
	/* margin-top:  0.5rem;
	margin-right:  0.5rem;
	margin-bottom:  0.5rem;
	margin-left:  0.5rem; */
	margin: 0.5rem;
	/* changes element to inline elements */
	display: inline;
}

/* Intro Section */

#intro {
	padding-left: 10%;
	padding-right: 10%;
	padding-top: 2rem;
	padding-bottom: 3rem;
	text-align: center;
	/* short hand */
	/* padding: 2rem 10% 3rem */
}

.header {
	text-align: center;
	/* best used when horizontally aligning text instead of using our marging and paddings */
}

#intro h2, #intro p {
	/* this creates space between the contents of the intro section */
	margin-bottom: 1rem;
}

#intro button {
	color: white;
	font-weight: bold;
	font-size: 1rem;
	background-color: #c2195b;
	border-radius: 25px;
	/* creates space between the button text and the border */
	padding: 1rem;
}

/* Succeed-info Section */
/* exact same properties as the intro section but can have it's own CSS rules for flexibility */

#succeed-info {
	padding-left: 10%;
	padding-right: 10%;
	padding-top: 2rem;
	padding-bottom: 3rem;
}

#succeed-info h2 {
	margin-bottom: 1rem;
	/* creates a space between the header and the card section */
}

#succeed-info h3 {
	text-align: center;
	margin-bottom: 1rem;
}

#succeed-info .card {
	display: inline-block;
	vertical-align: top;
	min-height: 175px;
	width: 30%;
	margin-left: 0.5rem;
	margin-right: 0.5rem;
}

/* Footer */
footer {
	padding: 0.7rem;
	/* creates space between span tags and the footer border */
}

footer span {
	margin-left: 0.5rem;
	margin-right: 0.5rem;
/*	margin: 0 0.5rem;*/
}
